<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/page.css">
  <link rel="stylesheet" href="css/flipclock.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/flipclock.min.js"></script>
  <script src="js/onReady.js"></script>
  <script src="js/requests.js"></script>
  <title>CS Help Queue</title>
</head>
<body>
  <header>
    <%- include("../partials/nav"); %>
  </header>
  <main>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header active blue lighten-4"><i class="material-icons">group</i> Now Serving</div>
            <div class="collapsible-body blue lighten-5" id="serving">
              <% if (serving.length > 0) { %>
                <table class="responsive-table bordered">
                  <thead>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Location</th>
                    <th>Description</th>
                    <% if (helper /*check if helper*/) { %>
                      <th>Contact</th>
                    <% } %>
                    <th>Helped By</th>
                    <th>Minutes</th>
                  </thead>
                  <tbody>
                    <% serving.forEach(function (s) { %>
                      <tr data-id="<%= s.id %>" data-helperid="<%= s.helper_id %>"
                      <% if (helper) { %>
                        onclick="servingClick($(this));"
                      <% } %>
                        >
                        <td><%= s.r_fname + " " + s.r_lname %></td>
                        <td><%= s.class %></td>
                        <td><%= s.location %></td>
                        <td><%= s.description %></td>
                        <% if (helper) { %>
                          <td><%= s.contact %></td>
                        <% } %>
                        <td><%= s.h_fname + " " + s.h_lname %></td>
                        <td><div class="clock" data-started="<%= Date.parse(s.started) %>"></div></td>
                      </tr>
                  <% }); %>
                  </tbody>
                </table>
              <% } else { %>
                <span>Currently no one is being served.</span>
              <% } %>
            </div>
          </li>
          <li>
            <div class="collapsible-header active blue lighten-4"><i class="material-icons">group_add</i> Now Waiting</div>
            <div class="collapsible-body blue lighten-5" id="current">
              <% if (requests.length > 0) { %>
                <table class="responsive-table bordered">
                  <thead>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Location</th>
                    <th>Description</th>
                    <% if (helper) { %>
                      <th>Contact</th>
                    <% } %>
                    <th>Minutes</th>
                  </thead>
                  <tbody>
                    <% requests.forEach(function (r, i) { %>
                      <tr data-id="<%= r.id %>"%> data-contact="<%= r.contact %>" data-fname="<%= r.fname %>" data-lname="<%= r.lname %>"
                      <% if (helper) { %>
                        onclick="helperCurrentClick($(this), <%= i == 0 %>);"
                      <% } else if (r.id == student) { %>
                        onclick="studentCurrentClick($(this));"
                      <% } %> >
                        <td><%= r.fname + " " + r.lname %></td>
                        <td><%= r.class %></td>
                        <td><%= r.location %></td>
                        <td><%= r.description %></td>
                        <% if (helper) { %>
                          <td><%= r.contact %></td>
                        <% } %>
                        <td><div class="clock" data-started="<%= Date.parse(r.started) %>"></div></td>
                      </tr>
                  <% }); %>
                  </tbody>
                </table>
              <% } else { %>
                <span>No one is currently waiting for help.</span>
              <% } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal blue lighten-5 center" id="serveConfirm">
      <div class="modal-content">
        <p>What would you like to do?</p>
      </div>
      <div class="modal-footer blue lighten-5 center">
        <div class="row">
          <div class="col s12 m6">
            <a href="#" class="waves-effects blue lighten-1 btn right" onclick="completeServing();">
              <i class="material-icons right">done</i>Complete
            </a>
          </div>
          <div class="col s12 m6">
            <a href="#" class="modal-action modal-close waves-effects red lighten-1 btn left">
              <i class="material-icons right">cancel</i>Cancel
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal blue lighten-5 center" id="currentConfirm">
      <div class="modal-content">
        <p>What would you like to do?</p>
      </div>
      <div class="modal-footer blue lighten-5">
        <div class="row">
          <div class="col s12 m4">
            <a id="serveButton" href="#" class ="waves-effects green lighten-1 btn right" onclick="serveCurrent();">
              <i class="material-icons right">priority_high</i>Help
            </a>
          </div>
          <div class="col s12 m4 center">
            <a href="#" class="modal-action modal-close waves-effects blue lighten-1 btn">
              <i class="material-icons right">cancel</i>Cancel
            </a>
          </div>
          <div class="col s12 m4">
            <a href="#" class="waves-effects red lighten-1 btn left" onclick="removeCurrent('currentConfirm');">
              <i class="material-icons right">delete</i>Remove
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal blue lighten-5 center" id="editCurrent">
      <div class="modal-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" class="validate" id="editfname" autocomplete="off" required>
                <label for="editfname">First Name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="validate" id="editlname" autocomplete="off" required>
                <label for="editlname">Last Name</label>
              </div>
              <div class="input-field col s6">
                <select id="editclass">
                <% class_names.forEach(function (name) { %>
                  <option value="<%= name %>"><%= name %></option>
                <% }); %>
                </select>
                <label for="editclass">Class</label>
              </div>
              <div class="input-field col s6">
                <select id="editlocation">
                <% location_names.forEach(function (name) { %>
                  <option value="<%= name %>"><%= name %></option>
                <% }); %>
                </select>
                <label for="editlocation">Location</label>
              </div>
              <div class="input-field col s12">
                <textarea name="" id="editdescription" class="materialize-textarea" data-length="200"></textarea>
                <label for="editdescription">Description</label>
              </div>
              <div class="input-field col s12">
                <input type="text" class="validate" id="editcontact" autocomplete="off">
                <label for="editcontact">Contact</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer blue lighten-5 center">
        <div class="row">
          <div class="col s12 m4">
            <a href="#" class ="waves-effects green lighten-1 btn right" onclick="updateCurrent();">
              <i class="material-icons right">edit</i>Update
            </a>
          </div>
          <div class="col s12 m4 center">
            <a href="#" class="modal-action modal-close waves-effects blue lighten-1 btn">
              <i class="material-icons right">cancel</i>Cancel
            </a>
          </div>
          <div class="col s12 m4">
            <a href="#" class="waves-effects red lighten-1 btn left" onclick="removeCurrent('editCurrent');">
              <i class="material-icons right">delete</i>Remove
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal blue lighten-5 center" id="addCurrent">
      <div class="modal-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" class="validate" id="fname" autocomplete="off" required>
                <label for="fname">First Name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="validate" id="lname" autocomplete="off" required>
                <label for="lname">Last Name</label>
              </div>
              <div class="input-field col s6">
                <select id="class" required>
                  <option value="" disabled selected></option>
                <% class_names.forEach(function (name) { %>
                  <option value="<%= name %>"><%= name %></option>
                <% }); %>
                </select>
                <label for="class">Class</label>
              </div>
              <div class="input-field col s6">
                <select id="location" required>
                  <option value="" disabled selected></option>
                <% location_names.forEach(function (name) { %>
                  <option value="<%= name %>"><%= name %></option>
                <% }); %>
                </select>
                <label for="location">Location</label>
              </div>
              <div class="input-field col s12">
                <textarea name="" id="description" class="materialize-textarea validate" data-length="200"></textarea>
                <label for="description">Description</label>
              </div>
              <div class="input-field col s12">
                <input type="text" class="validate" id="contact" autocomplete="off">
                <label for="contact">Contact</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer blue lighten-5 center">
        <div class="row">
          <div class="col s12 m6">
            <a href="#" class ="waves-effects blue lighten-1 btn right" onclick="addCurrent();">
              <i class="material-icons right">done</i>Get Help
            </a>
          </div>
          <div class="col s12 m6">
            <a href="#" class="modal-action modal-close waves-effects red lighten-1 btn left">
              <i class="material-icons right">cancel</i>Cancel
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal blue lighten-5 center" id="login">
      <div class="modal-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <input type="text" class="validate" id="username" required>
                <label for="username">Username</label>
              </div>
              <div class="input-field col s6 offset-s3">
                <input type="password" class="validate" id="password" required>
                <label for="password">Password</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer blue lighten-5 center">
        <div class="row">
          <div class="col s6">
            <a href="#" class ="waves-effects blue lighten-1 btn right" onclick="login();">
              <i class="material-icons right">send</i>Login
            </a>
          </div>
          <div class="col s6">
            <a href="#" class="modal-action modal-close waves-effects red lighten-1 btn left">
              <i class="material-icons right">cancel</i>Cancel
            </a>
          </div>
        </div>
      </div>
    </div>
  <% if (!student && !helper) { %>
    <div class="fixed-action-btn click-to-toggle" id="addfab">
      <a href="#addCurrent" class="btn-floating blue darken-1 pulse"><i class="material-icons">live_help</i></a>
    </div>
  <% } %>
  </main>
  <footer>
    <%- include("../partials/footer"); %>
  </footer>
  <script>
    var helper_id = <%= helper %>;
    var student_id = <%= student %>;
    var socket = io();
  </script>
</body>
</html>
